@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&subset=latin-ext");
@import 'font-awesome.css';

.view{
    padding-top: 60px;
    background-color: #FAFAFA;
    position: relative;
    min-height: calc(100vh - 383px);
}